{% load static %}
{% load crispy_forms_tags %}

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{{ title }}</title>
        <link rel="shortcut icon" href="{%  static 'logos/favicon.ico' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/fleetingform.css' %}">
        {% if namespace.style %}
            <link rel="stylesheet" href="{{ namespace.style }}">
        {% endif %}
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

        <!-- Font Awesome -->
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

        <!-- Moment.js -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.23.0/moment.min.js" integrity="sha256-VBLiveTKyUZMEzJd6z2mhfxIqz3ZATCuVMawPZGzIfA=" crossorigin="anonymous"></script>

        <!-- Tempus Dominus Bootstrap 4 -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/css/tempusdominus-bootstrap-4.min.css" integrity="sha256-XPTBwC3SBoWHSmKasAk01c08M6sIA5gF5+sRxqak2Qs=" crossorigin="anonymous" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/js/tempusdominus-bootstrap-4.min.js" integrity="sha256-z0oKYg6xiLq3yJGsp/LsY9XykbweQlHl42jHv2XTBz4=" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function() {
            // show the alert
            setTimeout(function() {
                $(".alert-dismissible").alert('close');
            }, 4000);
            $('.numberinput[step="any"]').on('change', function(){
                $(this).val(parseFloat($(this).val()).toFixed(2));
            });
            $('.numberinput[step="any"]').trigger('change');
        });
    </script>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col">
                    {% for message in messages %}
                        <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {% if namespace.logo %}
                    <div class="logo">
                        <img src="{{ namespace.logo }}" class="logo" />
                    </div>
                    {% endif %}
                    <h2 class="form-title">{{ title|safe }}</h2>
                    <div class="form-content">
                        {{ content|safe|linebreaks }}
                    </div>
                    <form class="fleeting-form" method="post">
                        {% if completed %}
                            <fieldset disabled="disabled">
                        {% else %}
                            <fieldset>
                            {% csrf_token %}
                        {% endif %}
                        {{ form|crispy }}
                        <div class="form-group actions">
                            {% if completed %}
                                <input type="submit" 
                                       class="btn btn-primary action" 
                                       name="action" 
                                       value="{{result_action}}">
                            {% else %}
                                {% for action in actions %}
                                    <input type="submit" 
                                           class="btn btn-primary action" 
                                           name="action" 
                                           value="{{action|title}}">
                                {% endfor %}
                            {% endif %}
                        </div>
                            </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
