{% load static %}
{% load crispy_forms_tags %}

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{{ title }}</title>
        <link rel="shortcut icon" href="{%  static 'logos/favicon.ico' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/fleetingform.css' %}">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
        <script>
            window.addEventListener("DOMContentLoaded", function() {
                    var link = document.getElementById("resend-link");
                    link.classList.add("disabled-link");
                    setTimeout(function() {link.classList.remove("disabled-link");}, 10000);
                }, false);
        </script>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col">
                    {% for message in messages %}
                        <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h2 class="form-title">{{ title }}</h2>
                    {{ content|linebreaks }}
                    {% if otp %}
                    <p>A one time passcode has been sent to {{ otp_destination }}.
                    You may <a id="resend-link" 
                       href="{% url 'otp-resend' fform_code %}">request a new code</a>
                    in 10 seconds.
                    </p>
                        {% if remaining_codes < 3 %}
                        <p>This form has {{ remaining_codes }} 
                           code{{ remaining_codes|pluralize }} left.</p>
                        {% endif %}
                    {% endif %}
                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="form-group">
                            <input type="submit" 
                                   class="btn btn-primary" 
                                   name="action" 
                                   value="{{ action }}">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
